{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load cache %} <!-- Загружаем кэширование -->

{% block content %}
<h1>{{ article.header | censor:article.header }} ({{ article.create_date | date:'d M Y H:i' }})</h1>
<br>
<span>{{ article.text | censor:article.text }}</span>
<br>
<hr>
{% cache 300 categorys %} <!-- Кэшируем отдельный блок на 5 минут -->
{% block categorys %}
{% for item in categorys %}
<button> <a href="{% url 'subscribe' item.category.id %}">>>> Подписаться на категорию "{{ item.category.name }}"<<<</a></button>
<br>
{% endfor %}
{% endblock %}
{% endcache %}
<br>
<button> <a href="{% url 'subscribe' article.id %}">>>> Подписаться на все категории <<<</a> </button>

{% endblock content %}